.container{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 100px;
    padding: 16px;
    border: none;
    color: white;
    background-color: crimson;
    cursor: pointer;
}